li {
    /* border: 1px solid red; */
    padding: 2rem;
    width: 50rem;
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 8px rgb(241 4 4 / 43%), -4px -4px 8px rgb(8 236 228 / 32%);
}

.main-container-wrapper {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

h4 {
    font-size: 1rem;
}

img {
    margin-bottom: 6px;
    width: 6rem;
}

h2 {
    margin: 6px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

p {
    margin: 5px 0;
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgb(94, 94, 94);
    padding-right: 1rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fa-regular {
    color: #ffffff;
}

.button-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

.price-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 1rem;
}

span {
    font-size: smaller;
    padding-left: 0.3rem;
}

a {
    text-decoration: none;
    color: #000000;
}

.cart-cart {
    display: none;
}

.update-icon {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
}

.update-icon button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.delete-btn {
    width: 6.2rem;
    height: 2rem;
    font-weight: 500;
    background-color: #e75959;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer
}

.update-btn {
    width: 6.2rem;
    height: 2rem;
    font-weight: 500;
    background-color: #115179;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer
}

@media screen and (max-width: 600px) {
    li {
        /* border: 1px solid red; */
        padding: 2rem;
        width: 50rem;
        margin-top: 2rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 0.7rem;
        box-shadow: 4px 4px 8px rgb(241 4 4 / 43%), -4px -4px 8px rgb(8 236 228 / 32%);
    }

    .main-container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}