.fetch-fail,
.no-data {
  color: #ff0000;
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  background-color: rgb(184, 173, 173);
  width: 40rem;
  height: 10rem;
  align-items: center;
  border-radius: 3rem;
}

.fetch-fail h2 {
  font-size: 20px;
}

.no-data h2 {
  font-size: 20px;
}
